{{ "<!-- Clients Aside -->" | safeHTML }}
<aside class="clients">
  <div class="container">
    <div class="row">
        <br>
        <center>
            <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vTmWj8eysS1ml9tps4CgQBbp-GxpM4owp8IKLzzeONDjB2Pm0VqKaJET1hZC39pM-kZtkO7Fiyptnyj/embed?start=true&loop=true&delayms=3000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true"></iframe>
        </center>
        <br>
    </div>
  </div>
</aside>
