{{ "<!-- Sign Up -->" | safeHTML }}
<section id="signUp">
<aside class="signUp">
  <div class="container">
    <div class="row">
	<div class="col-lg-12 text-center">
<div class='sign-up'>
	<div class="pure-g container">

    <div class="pure-u-1 pure-u-md-1-2" style="background-color: #0099ff">

		<div class="wrapper fadeInDown">

		<div class='content'>
    		<h1 style="font-family: 'Roboto Slab'">Early Access</h1>


			<div>
			  <ol>
				<li><p>Submit your name and the address of the property you wish to inspect.  </p></li>
				<li><p>When Mitigateway comes to your neighbourhood, we will email you a link to download our home self-inspection tool. The link will help you install our tool on your smartphone.  </p></li>
				<li><p>Perform a simple home inspection using your phone and receive feedback on how to keep your home and family safe.  </p></li>
			  </ol>
			</div>


				<h4><i class="fa fa-android" style="font-size:48px"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-apple" style="font-size:48px"></i></h4>

			</div>

    	</div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2" style="background-color: #0099ff;">
      <div class="wrapper fadeInDown">
  <div id="formContent">
  	<form id='signupForm'>

    <!-- Tabs Titles -->
    <h2 class="">Early Access Sign Up</h2>

    <div class='status' style='
  color: #969696;
  text-align: center;
  margin-top:-30px;
  margin-bottom:25px;'></div>

    <!-- Login Form -->
    <div class='formBody'>
      <input type="text" id="name" class="fadeIn second" name="name" placeholder="John Doe"  required>
      <input type="text" id="email" class="fadeIn third" name="email" placeholder="email@address.com" required>
      <input type="text" id="address" class="fadeIn fourth" name="address" placeholder="121 Main St, Toronto, Ontario M5J 2N4" required>
      <input type="text" id="find_us" class="fadeIn fifth" name="find_us" placeholder="How did you find us?">



    <!-- Remind Passowrd -->
    <div id="formFooter">
      <input type="submit" class="fadeIn fourth form-btn" value="Get early access" id='signupButton'>
    </div>
  </div>
</form>

  </div>

</div>

<script>
  function initAutocomplete() {
    var input = document.getElementById('address');
    var autocomplete = new google.maps.places.Autocomplete(input);

    autocomplete.setFields(['address_component']);
  }



$(document).ready(function() {

  $("#signupButton").removeAttr("disabled");
  $("#signupButton").removeClass("disabled");

  var $form = $("#signupForm");
  var $submitbutton = $("#signupButton");

  setTimeout(
  function()
  {
     $("#signupButton").removeAttr("disabled");
  $("#signupButton").removeClass("disabled");
  }, 1000);

$form.on("blur", "input", () => {

    $submitbutton.removeAttr("disabled");
    $("#signupButton").removeClass("disabled");

});

 $('form').submit(function(event) {
      var formData = {
        'signup': {
          'name'              : $('input[name=name]').val(),
          'email'             : $('input[name=email]').val(),
          'address'             : $('input[name=address]').val(),
          'found_us'             : $('input[name=find_us]').val(),
        }
      };

      var errorMsg = null;

      if(!$('input[name=name]').val()) {
        errorMsg += "<p style=\"font-size: 18px;color:red;\">Your name is required</p>";
      }

      if(!$('input[name=email]').val()) {
        errorMsg += "<p style=\"font-size: 18px;color:red;\">Your email is required</p>";
      }

      if(!$('input[name=address]').val()) {
        errorMsg += "<p style=\"font-size: 18px;color:red;\">Your address is required</p>";
      }

      if(errorMsg) {
        $('.status').html(errorMsg);
      } else {

      $.ajax({
          type        : 'POST', // define the type of HTTP verb we want to use (POST for our form)
          url         : 'https://api.mitigateway.com/api/v1/signup', // the url where we want to POST
          data        : JSON.stringify(formData), // our data object
          dataType    : 'json', // what type of data do we expect back from the server
          contentType: 'application/json; charset=utf-8',
          encode      : true,
          success: function(res){
			$('.status').html('<p style="font-size: 18px;">Thank you! We will contact you as soon as our services are available in your area. </p>');
			$('.formBody').hide();
            },
          error: function(xhr, status, error){
			$('.status').html('<p style="font-size: 18px;color:red;">We\'re sorry, there was an error submitting your signup. Please try again.</p>');
			var errorMessage = xhr.status + ': ' + xhr.statusText
			console.log('Error - ' + errorMessage);
     }
      });

    }
// stop the form from submitting the normal way and refreshing the page
      event.preventDefault();

        });

  });
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDhDm3qm1VskUtwxyOZZ2Jen6HTwFJ6oE&libraries=places&callback=initAutocomplete"
        async defer></script>

</div>


    </div>
  </div>
</aside>
