{{ "<!-- Sign Up -->" | safeHTML }}
<section id="signUp">
<aside class="signUp">
  <div class="container">
    <div class="row">
	<div class="col-lg-12 text-center">
<div class='sign-up'>
	<div class="pure-g container">

    <div class="pure-u-1 pure-u-md-1-2" style="background-color: #0099ff">

		<div class="wrapper fadeInDown">

		<div class='content'>
    		<h1 style="font-family: 'Roboto Slab'">Early Access</h1>


			<div>
			  <ol>
				<li><p>Submit your name and the address of the property you wish to inspect.  </p></li>
				<li><p>When Mitigateway comes to your neighbourhood, we will email you a link to download our home self-inspection tool. The link will help you install our tool on your smartphone.  </p></li>
				<li><p>Perform a simple home inspection using your phone and receive feedback on how to keep your home and family safe.  </p></li>
			  </ol>
			</div>


				<h4><i class="fa fa-android" style="font-size:48px"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-apple" style="font-size:48px"></i></h4>

			</div>

    	</div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2" style="background-color: #0099ff;">
      <div class="wrapper fadeInDown">
  <div id="formContent">
  	<form>

    <!-- Tabs Titles -->
    <h2 class="">Early Access Sign Up</h2>



    <!-- Login Form -->

      <input type="text" id="name" class="fadeIn second" name="name" placeholder="John Doe" autocomplete="name" required>
      <input type="text" id="email" class="fadeIn third" name="email" placeholder="email@address.com" autocomplete="email" required>
      <input type="text" id="address" class="fadeIn fourth" name="address" placeholder="121 Main St, Toronto, Ontario M5J 2N4" required>
      <input type="text" id="findus" class="fadeIn fifth" name="findus" placeholder="How did you find us?">



    <!-- Remind Passowrd -->
    <div id="formFooter">
      <input type="submit" class="fadeIn fourth" value="Get early access">
    </div>
</form>

  </div>

</div>

<script>
  function initAutocomplete() {
    var input = document.getElementById('address');
    var autocomplete = new google.maps.places.Autocomplete(input);

    autocomplete.setFields(['address_component']);
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDhDm3qm1VskUtwxyOZZ2Jen6HTwFJ6oE&libraries=places&callback=initAutocomplete"
        async defer></script>

</div>


    </div>
  </div>
</aside>
